<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SimpMath</title>
    

    <link rel="icon" href="/img/LogoTipo.png" type="image/png">

    <link rel='stylesheet' href='/css/styleInicial.css'>
    <link rel="stylesheet" href="/css/cabeca.css">

</head>
<body>
    <header class="navbar">
        <img src="/img/Logo.png" class="navbar-brand">
              
            <div>
                <button class="navbar-button"><a href="/sobre">Sobre</a></button>
                <button class="navbar-button"><a href="/">Home</a></button>
            </div>
        
    </header>
    <div class="body">

        <h1> Seja bem vindo(a) ao SimpMath</h1>
        <p>Esse site tem como intuito auxiliar no estudo da Matemática, e fazer com que você pratique o conhecimento
            com exercícios que nunca serão iguais toda vez que tentar 
        </p>

        <p id="choice"> Escolha o ano, e uma matéria para começar a estudar </p>
        <div class="salas">
            <!-- 6° ANO -->
            <div id="sexto">
                <h2>6° ano</h2>
                <ul>
                    <% dados6.materias.forEach((materia, index) => { %>
                        <li><a href="/materias/6/<%= index %>"><%= materia.nome %></a></li>
                    <% }) %>
                </ul>
            </div>
            
            <!-- 7° ANO -->
            <div id="setimo">
                <h2>7° ano</h2>
                <ul>
                    <li><a href="">Números racionais</a></li>
                    <li><a href="">Expressões algébricas</a></li>
                    <li><a href="">Geometria plana</a></li>
                    <li><a href="">Razão</a></li>
                </ul>
            </div>
            
            <!-- 8° ANO -->
            <div id="oitavo">
                <h2>8° ano</h2>
                <ul>
                    <li><a href="">Números inteiros e racionais</a></li>
                    <li><a href="">Equações do 1º grau</a></li>
                    <li><a href="">Geometria espacial</a></li>
                    <li><a href="">Funções</a></li>
                </ul>
            </div>
            
            <!-- 9° ANO -->
            <div id="nono">
                <h2>9° ano</h2>
                <ul>
                    <li><a href="">Trigonometria básica</a></li>
                    <li><a href="">Equação de 2° grau</a></li>
                    <li><a href="">Geometria analítica</a></li>
                    <li><a href="">Probabilidade</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>