<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SimpMath</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='css/cabeca.css'>
    <link rel="stylesheet" href="css/sobre.css">
</head>
<body>
    <header class="navbar">
        
        <img src="/img/logo.png" class="navbar-brand">
        <div>
        <button  class="navbar-button"><a href="/sobre">Sobre</a></button>   
        <button class="navbar-button"><a href="/">Home</a></button>
        </div>
    </header>
    
    <div class="body">
        <p> 
            Esse site faz parte de um projeto de iniciação cientifica de um aluno de ensino medio do IFSP campus Jacareí, 
            Rafael de Paula, orientado por Luciano Kiwamen.
        </p>
        <p>
            Esse projeto tem como objetivo principal ajudar crianças e jovens a entendenderem melhor a matéria 
            de Matemática, por ver uma grande dificuldade que diversas pessoas têm na área. Por isso a ideia da
             criação do site com explicações mais didáticas e resumidas sobre as matérias do ensino fundamental e 
             junto a isso teve a ideia de criar exercícios que irão sempre mudar suas variáveis dos enunciados 
             para que o aluno possa praticar varias e varias vezes para poder fixar bem o conhecimento que acaba 
             de estudar
        </p>

        <h3>Caso queira entrar em contato:</h3>
        <p class="email">rfdepaulas27@gmail.com </p>
    </div>

</body>
</html>