*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha no topo */
    min-height: 100vh;
    padding: 20px;
    gap: 20px; /* Espaço entre as colunas */
}

.esquerda{
    
    background-color: rgba(217, 217, 217, 1) ;
    justify-content: space-between;
    border-radius: 10px;
    margin-right: 2%;
    padding-left: 10px;
    margin-left: 3%;
    margin-top: 20px;
    width: 20%; 
    height: auto;
    position: sticky;
    top: 20px;
}

.questao{
    background-color: rgba(217, 217, 217, 1);
    justify-content: space-between;
    border-radius: 20px;
    padding-right: 150px;
    margin-right: 20%;
    padding-left: 50px;
    margin-top: 20px;
    width: 60%
}

details {
    margin: 20px 0;
    border: 1px ;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    width: 125px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    
}



details[open] {
    background-color: #f9f9f9;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #14939e;
}

ul{
    text-align: left;
    padding-left: 10px;
}

li{
    border: 1px solid #ccc;  /* Cor cinza clara */
    border-radius: 4px;
}

li:hover {
    border: 1px solid #6a249f; 
    background-color: #e8f5e9;  
    transition: all 0.3s ease; /* Animação suave */
}
